<div class="table-wrapper">
    <div class="row">
        <div class="col-md-4 pull-right">
            <input ng-model="q" id="search" class="form-control" placeholder="Pesquisar...">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="sample-table-1">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="ordenar('numero_protocolo')">Protocolo</a></th>
                            <th><a href="" ng-click="ordenar('data')">Data</a></th>
                            <th><a href="" ng-click="ordenar('created_at')">Data/Hora Criação</a></th>
                            <th><a href="" ng-click="ordenar('assunto')">Assunto</a></th>
                            <th><a href="" ng-click="ordenar('setor')">Setor</a></th>
                            <th><a href="" ng-click="ordenar('status')">Status</a></th>
                            <th><a href="" ng-click="ordenar('nome')">Usuário</a></th>
                            <th><a href="" ng-click="ordenar('administrador')">Administrador</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="ocorrencia in ocorrencias|filter:q|orderBy:sortKey:reverse|itemsPerPage: 10">
                            <td><a ng-href="#/{{tipo}}/detalhes/{{ocorrencia.id}}">{{ocorrencia.id}}-{{ocorrencia.numero_protocolo}}</a></td>
                            <td>{{ocorrencia.data|formatData}}</td>
                            <td>{{ocorrencia.created_at|date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td><a ng-href="#/{{tipo}}/detalhes/{{ocorrencia.id}}">{{ocorrencia.assunto}}</a></td>
                            <td>{{getLabelSetor(ocorrencia.setor)}}</td>
                            <td><span class="label label-sm label-{{status[ocorrencia.status]}}">{{ocorrencia.status}}</span></td>
                            <td><a ng-href="#/usuarios/usuario/{{ocorrencia.usuario_id}}">{{ocorrencia.usuario.nome}}</a></td>
                            <td>{{ocorrencia.administrador ? ocorrencia.administrador.nome : '-'}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls maxsize="5" boundary-links="true"></dir-pagination-controls>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h4>Descrição dos Status</h4>
            <div style="margin: 16px" ng-repeat="statusDesc in statusDescriptions">
                <span class="label label-sm label-{{status[statusDesc.name]}}">{{statusDesc.name}}</span> - {{statusDesc.description}}
            </div>
        </div>
    </div>
</div>

